.card {
  width: 250px;
  height: 230px;
}
.card-img {
  width: 250px;
  height: 200px;
  border-radius: 8px;
  border: solid;
  border-width: 3px;
  border-color: rgb(150, 187, 87);
  animation-name: flip-with-rotate;
  animation-duration: 2s;
}

@keyframes flip-with-scale {
  0% {
    transform: perspective(400px) scaleX(1);
  }

  100% {
    transform: perspective(400px) scaleX(-1);
  }
}

@keyframes flip-with-rotate {
  0% {
    transform: perspective(400px) rotateY(0);
  }

  100% {
    transform: perspective(400px) rotateY(180deg);
  }
}
